In [ ]:
#Dictionary Comprehension -->> {key:value  for item in iterable} = {i:i**2 for i in range(10)}

#key:value -->> to added in dictionary 
#item -->> variable that takes one value at a time from the iterable
#iterable -->> sequence (like list, tuple, string) that we can iterate over

squares  = {i:i**2 for i in range(10)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [6]:
# Dictionary Comprehension with Condition -->> {key:value  for item in iterable if condition} = {i:i**2 for i in range(10) if i%2 == 0}

even_sq = {i:i**2 for i in range(10) if i%2 == 0}
print(even_sq)

#name case Conversion
names = ["alyan" , "asad" , "adil" , "aroosa" , "sana" , "waleed"]
upper = {name: name.upper() for name in names if len(name) > 4}
print(upper)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}
{'alyan': 'ALYAN', 'aroosa': 'AROOSA', 'waleed': 'WALEED'}